@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome user!</h1>
    <p>This is the leave application center of CatCoding Inc Company.</p>
    <p>Wow, this home page is as empty as the wasteland in Fallout!</p>
    <p>It may or may not be under construction, only time will tell</p>
    <p>So I ask you users, Please Stand By!</p>
</div>
